= form_for @bounty do |f|
  - if @bounty.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bounty.errors.count, "error")} prohibited this bounty from being saved:"
      %ul
        - @bounty.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .field
    = f.label :hunter_id
    = f.number_field :hunter_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :due_date
    = f.datetime_select :due_date
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :verification
    = f.text_area :verification
  .field
    = f.label :verification_type
    = f.text_field :verification_type
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
