%h1 Listing tests

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @tests.each do |test|
    %tr
      %td= test.name
      %td= link_to 'Show', test
      %td= link_to 'Edit', edit_test_path(test)
      %td= link_to 'Destroy', test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Test', new_test_path
