!!!
%html
  %head
    %title Bounty Flow - The place to find and issue micro-bounties
    %meta{:charset => "utf-8"}
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA03gfazIRhSgMVUNAuh4_VDMhuDcZtS-s&sensor=true'
      = javascript_include_tag "application"
      
      = yield :javascript
      = yield :stylesheet
      = yield :meta_tag
      = yield :head
      = csrf_meta_tags
  %body
    = content_for?(:content) ? yield(:content) : yield
    = content_for?(:scripts) ? yield(:scripts) : nil
