=javascript 'bounty_list_app_manifest'


- content_for :content do
  = render :partial => 'shared/header'
  .container.body-container
    %ul#side-nav.side-nav
    #bounty-content-box.bounty-content-box
      #bounty-mini-nav-container.bounty-mini-nav-container
      #bounty-sub-content.bounty-sub-content
    #bounty-secondary-panel.bounty-secondary-panel

  =yield
  = render :partial => 'shared/footer'

  :javascript
    $(function () {
      Bounty.BountyListApp.init({
        firebase_url: '#{ ENV['FIREBASE_URL']}',
        user: {
          firebase_token: '#{ current_user.firebase_token }'
        }
      });
    });

= render :template => 'layouts/application'